<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmEmTVXz4FLSsTM3JME9J3VW-WXECqmKw"></script>
    <script>
        function initMap() {
        var dublin = {lat: 53.3498, lng: -6.2603};
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 12, center: dublin
            });

        var locations = {{locations | tojson}};
        for (var i = 0; i < locations.length; i++) {
            var location = locations[i];
            var infoWindow = new google.maps.InfoWindow();

            var marker = new google.maps.Marker({
                position: {lat: location[0], lng: location[1]},
                map: map,
            });

            google.maps.event.addListener(marker, "click", (function (marker, location) {
                return function () {
                    infoWindow.setContent(location[3] + "<br>Available bikes: " + location[2]);
                    infoWindow.open(map, marker);
                }
            })(marker, location));
        }
    }
    </script>
</head>
<body onload="initMap()">

    <div id="map" style="height: 95vh;"></div>

</body>
</html>