<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet1.css') }}">

</head>
  <header>

<nav>

<div class="topnav">
      <a href="/">Homepage</a>
    <a href="mapping.html">Map</a>
    <a href="how-to.html"> How To</a>
        <a class="active" href="news.html"> News</a>

</div>


</nav>

    </header>
<body>

<div>
    <img src="{{ url_for('static',filename='images/DBlogo.png') }}" alt="Logo" style="width: 100%">

</div>
<h2 class="h2"> News</h2>
<p style="text-align: center"> Stay up to date with all DBBikes news right here.</p>
      <div class="gallery">
  <a target="_blank" href="https://irishcycle.com/2023/04/01/radical-shake-up-expected-as-minister-ryan-ties-walking-and-cycling-priority-to-all-transport-funding/">
    <img src="{{ url_for('static',filename='images/cycling1.jpeg') }}" alt="Cycling" width="600" height="700">
  </a>
                <div class="desc"> <b><u>Transport for Ireland</u></b>
  <p>Transport Minister Eamon Ryan has announced a bold move to prioritize the design of infrastructure for walking and cycling. In order to achieve this goal, a high standard of active travel infrastructure will be made a requirement of all transport funding. The design manuals and guidance that the Minister has referred to have been in place for over a decade but largely ignored or selectively used to defend rubbish designs.

“The National Transport Authority is tasked with handing out most of the walking cycling funding, it does not make sense to allow its own BusConnects team to have such scant regard for walking and cycling design - they said.</p>
  </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.transportforireland.ie/getting-around/by-bicycle/cycling-safety/#:~:text=Wear%20a%20helmet.,in%20and%20out%20of%20traffic.">
    <img src="{{ url_for('static',filename='images/safecycling.jpeg') }}" alt="Safe-Cycling" width="600" height="400">
  </a>
 <div class="desc"> <b><u>Safety Tips and Tricks</u></b>
 <p>Cyclists are vulnerable road users who must be cautious to follow the laws of the road when out and about.
Transport For Ireland has put together some riding safety advice for you to use: <br>
Cycling in the dark without illumination is never a good idea. Remember, white in front and red in behind.<br>
Use visible clothes, such as hi-vis vests, neon armbands, and reflective belts, so that other drivers can see you.
Put on a helmet.<br>
Keep to the left at all times. Before driving off, changing lanes, or turning, always glance behind you and provide the appropriate signal.
Observe the regulations of the road; never run red lights or weave in and out of traffic.<br> Click the image for more information! </p>
  </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://irishcycle.com/2023/03/30/talks-this-evening-on-learning-and-sharing-active-transport-knowledge-and-expertise/">
    <img src="{{ url_for('static',filename='images/cycling3.jpeg') }}" alt="Northern Lights" width="600" height="400">
  </a>
 <div class="desc"> <b><u> Dublin Cycling Campaign</u></b>
  <p> The upcoming event on Thursday the 30th of March will feature notable speakers in the field of sustainable mobility and cycling. Robin van der Griend, a Sustainable Mobility Consultant from Mobycon Academy, and David O'Connor, the Head of Environment and Planning at TU Dublin, will both be presenting. Additionally, I, Cian Ginty, will be sharing insights on Dutch Cycling Study Tours.

The Q&A session will also include the expertise of Angela van der Kloof, a seasoned Dutch consultant from Mobycon, and Mairéad Forsythe, chair of the board of Cyclist.ie, who will be introducing the evening.

</p>
  </div></div>

<div class="gallery">
  <a target="_blank" href="https://irishcycle.com/2023/03/28/new-cycling-and-walking-link-opens-to-help-connect-areas-along-m50-at-sandyford/">
    <img src="{{ url_for('static',filename='images/cycling4.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
 <div class="desc"> <b><u> Sandyford Businesss District </u></b>
     <p>A brand new walking and cycling link has just been opened by Dún Laoghaire-Rathdown County Council and Transport Infrastructure Ireland (TII). This link spans a total length of 114 meters and will connect the Drummartin Link Road to Bracken Road, bypassing the often-congested Blackthorn Drive junction near the Beacon Hospital.

The new access route, partially located within the TII Sandyford Maintenance Depot, will not only provide a more direct route for people traveling by foot or bicycle but also reduce their travel times significantly. It will connect two areas on opposite sides of the M50 - the bustling Sandyford Business District and the serene Sandyford Village - and make it much easier for commuters to navigate between the two locations.</p>


 </div></div>

    </section>


</body>
</div>

</body>
</html>